:root {
  --color1: rgb(209, 209, 9);
  --color2: rgb(27, 27, 27);
}
* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, blue, pink);
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 1200px;
}
#nav {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 5em 5em;
}
#nav li a {
  text-decoration: none;
  color: black;
  display: block;
  background-color: var(--color1);
  flex-basis: 90%;
  text-align: center;
}

#nav li {
  flex-basis: 20%;
  font-weight: bold;
  font-size: 24px;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

#hero {
  display: flex;
  flex-flow: column;
  background-image: url(img/taco.jpg);
  background-position: 0 -200px;
  background-size: cover;
  max-height: 50vh;
  min-height: 40vh;
  max-width: 100vh;
  justify-content: center;
  margin: 5em 5em;
}
#hero h2,
p {
  color: var(--color2);
  background-color: var(--color1);
  display: block;
}
#hero p {
  display: block;
}
ul {
  margin: 0;
  padding: 0;
}
